---
const apiKey = '19b6a99e978da10bee647275751c2035';
const url = `https://api.metalpriceapi.com/v1/latest?api_key=${apiKey}&base=USD&currencies=XAU,XAG`;
const resp = await fetch(url);
let gold = 0, silver = 0, copper = 0;
if (resp.status === 200) {
  const data = await resp.json();
  console.log({ data });
  if (data.success === false) {
    console.error('Error', data.error);    
  } else {
    gold = data.rates.XAU;
    silver = data.rates.XAG;
  }
} else {
  console.error('Error', resp.status);
}
const minValues =[
  {
    name: 'Oro',
    value: parseFloat((1 / gold).toFixed(4)),
    variation: parseFloat(gold.toFixed(4)),
    color: 'text-yellow-400'
  },
  {
    name: 'Plata',
    value: parseFloat((1 / silver).toFixed(4)),
    variation: parseFloat(silver.toFixed(4)),
    color: 'text-gray-400'
  },
  {
    name: 'Cobre',
    value: 4.53073,
    variation: -0.49,
    color: 'text-red-400'
  }
]

---

<div class=" mx-8 md:mx-24 sm:mx-0 my-16 z-10 bg-white rounded-2xl md:rounded-full shadow-2xl absolute bottom-0 self-center">
  <div class="grid gap-5 mx-12 md:24 my-4 md:my-0 md:grid-cols-3 sm:grid-cols-1">
    {
      minValues.map((item) => (
        <div class="overflow-hidden text-center">
          <div class="px-0 md:px-4 py-2 md:py-4 lg:p-6">
            <dl>
              <dt class={`text-2xl font-bold leading-5 ${item.color} truncate`}>
                {item.name}
              </dt>
              <dt class="mt-1 text-sm font-normal leading-5 text-gray-500">
                {item.variation} %
              </dt>
              <dd class="text-2xl font-medium leading-6 text-gray-900">
                {item.value}
              </dd>
            </dl>
          </div>
        </div>
      ))
    }
  </div>
</div>
