---
import siteData from "../data/site.json";

const pn = Astro.url.pathname;
const isHome = pn === "/";
const site = Astro.site;
const servLink = isHome ? "#services" : `${site}#services`;
const abtLink = isHome ? "#about" : `${site}#about`;
const mapLink = isHome ? "#map" : `${site}#map`;
const partLink = isHome ? "#partners" : `${site}#partners`;
const contLink = isHome ? "#contact" : `${site}#contact`;
---

<nav
  class="flex flex-col z-50 fixed sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 bg-gray-500 shadow-none transition-colors duration-500"
>
  <div
    class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center"
  >
    <a href="#top" class="no-underline cursor-pointer">
      <img src="img/logo.svg" alt={siteData.title} class="h-12 py-1" />
    </a>
    <a href="#top" class="cursor-pointer">
      <h2 class="relative block p-4 lg:p-6 text-xl text-white font-bold cursor-pointer">
        {siteData.title}
      </h2>
    </a>
    <button
      id="menuBtn"
      class="hamburger block sm:hidden focus:outline-none"
      type="button"
      onclick="navToggle();"
      aria-label="Show Menu"
    >
      <span class="hamburger__top-bun" style="color: white;"></span>
      <span class="hamburger__bottom-bun"></span>
    </button>
  </div>
  <div
    id="menu"
    class="w-full sm:w-auto self-end sm:self-center hidden sm:flex flex-col sm:flex-row items-center h-full py-1 pb-4 sm:py-0 sm:pb-0"
  >
    <a
      class="text-white font-bold hover:text-green-400 text-lg text-center w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1"
      href={servLink}>Servicios</a
    >
    <a
      class="text-white font-bold hover:text-green-400 text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href={abtLink}>Quienes somos</a
    >
    <a
      class="text-white font-bold hover:text-green-400 text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href={mapLink}>Nuestros proyectos</a
    >
    <a
      class="text-white font-bold hover:text-green-400 text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href={partLink}>Colaboradores</a
    >
    <a
      class="text-white font-bold hover:text-green-400 text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href={contLink}>Contactanos</a
    >
  </div>
  <div class="md:pr-24 sm:mr-0" id="main_menu">
    <ul class="flex flex-wrap md:m-2 text-sm md:text-base" id="menu_nav">
      <li class="relative mx-1 px-1 py-2 group mb-1 md:mb-0" id="button_admin">
        <a class="w-6 h-6 font-semibold text-white hover:text-green-400 justify-center">
          <svg
            class="firstlevel w-7 h-5 text-white hover:text-green-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm8.647,7H17.426a19.676,19.676,0,0,0-2.821-4.644A10.031,10.031,0,0,1,20.647,7ZM16.5,12a10.211,10.211,0,0,1-.476,3H7.976A10.211,10.211,0,0,1,7.5,12a10.211,10.211,0,0,1,.476-3h8.048A10.211,10.211,0,0,1,16.5,12ZM8.778,17h6.444A19.614,19.614,0,0,1,12,21.588,19.57,19.57,0,0,1,8.778,17Zm0-10A19.614,19.614,0,0,1,12,2.412,19.57,19.57,0,0,1,15.222,7ZM9.4,2.356A19.676,19.676,0,0,0,6.574,7H3.353A10.031,10.031,0,0,1,9.4,2.356ZM2.461,9H5.9a12.016,12.016,0,0,0-.4,3,12.016,12.016,0,0,0,.4,3H2.461a9.992,9.992,0,0,1,0-6Zm.892,8H6.574A19.676,19.676,0,0,0,9.4,21.644,10.031,10.031,0,0,1,3.353,17Zm11.252,4.644A19.676,19.676,0,0,0,17.426,17h3.221A10.031,10.031,0,0,1,14.605,21.644ZM21.539,15H18.1a12.016,12.016,0,0,0,.4-3,12.016,12.016,0,0,0-.4-3h3.437a9.992,9.992,0,0,1,0,6Z"
            ></path>
          </svg>
        </a>
        <ul
          class="absolute left-0 top-0 mt-10 p-2 rounded-lg shadow-lg bg-white z-10 hidden group-hover:block"
        >
          <li
            class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-green-400 hover:bg-gray-100"
          >
            <a class="px-2 py-1">
              <span class="">Español</span>
            </a>
          </li>
          <li
            class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-green-400 hover:bg-gray-100"
          >
            <a class="px-2 py-1">
              <span class="">Ingles</span>
            </a>
          </li>
          <li
            class="p-1 whitespace-no-wrap rounded-full text-sm md:text-base text-gray-600 hover:text-green-400 hover:bg-gray-100"
          >
            <a class="px-2 py-1">
              <span class="">Portuges</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<script>
  export default {
    navColor: "bg-transparent", // Color de fondo inicial del nav

    // Función para cambiar el color de fondo del nav cuando se desplaza
    changeNavColor() {
      const nav = document.querySelector("nav");
      if (nav) {
        const scrollPosition = window.scrollY;

        if (scrollPosition > 0) {
          nav.classList.remove(this.navColor);
          nav.classList.add("bg-green-950"); // Cambia al color deseado
          this.navColor = "bg-green-950";
        } else {
          nav.classList.remove(this.navColor);
          nav.classList.add("bg-transparent"); // Vuelve al color inicial
          this.navColor = "bg-transparent";
        }
      }
    },

    onMount() {
      this.changeNavColor(); // Llama a la función cuando se monta el componente
      window.addEventListener("scroll", this.changeNavColor);
    },

    onDestroy() {
      // Remueve el listener del evento de desplazamiento cuando el componente se desmonta
      window.removeEventListener("scroll", this.changeNavColor);
    },
  };
</script>
